<footer
class="text-center text-lg-start text-white"
style="background-color:rgb(0,51,77) "
>

<div class="container p-4 pb-0 ">

<section class="" id="con">

<div class="row ">

<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 ">
  <p class="text-warning text-uppercase "><strong>Studing at:</strong></p>
  <h6 class="text-uppercase mb-4 font-weight-bold text-success">
   cvr college of engineering
  </h6>
  <p>
    Mangalpalli Ranagreddy!!
    
  </p>
</div>
<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
  <!-- <h6 class="text-uppercase mb-4 font-weight-bold text-warning"><strong><id="con">FeedBack</id></strong></h6> -->
  <form class="align-items-center">
    
    <input class="form-control me-2" type="search" placeholder="leave msg.." aria-label="Search"><br/>
    <button class="btn btn-outline-success" type="submit">submit</button>
  </form>
</div>
<!-- Grid column -->



<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
  <!-- <h6 class="text-uppercase mb-4 font-weight-bold text-warning"><strong><id="con">contact</id></strong></h6> -->
  <p><i class="fas fa-home mr-3"></i>Godavarikhani,peddapalli</p>
  <p><i class="fas fa-envelope mr-3"></i> akhilmujam@gmail.com</p>
  <p><i class="fas fa-phone mr-3"></i> 9392642428</p>
 
</div>

<div class="col-md-3 col-lg-3 col-xl-2 mx-auto mt-3">
  <h6 class="text-uppercase mb-4 font-weight-bold text-warning"><strong>Follow</strong></h6>

  <a
     class="btn btn-outline-primary btn-floating m-1 text-white"

     href="https://www.facebook.com/AkhilMujam"
     role="button"
     ><strong>Facebook</strong></a>

  <a
  class="btn btn-outline-primary btn-floating m-1 text-white"

  href="https://www.instagram.com/a_k_h_i_428"
  role="button"
  ><strong>Instagram</strong>
 </a>

  <a
     class="btn btn-outline-primary btn-floating m-1 text-white"
  
     href="https://www.linkedin.com/in/akhil-mujam-17141821a/"
     role="button"
     ><strong>Linked-in</strong></a>  
</div>
</div>
</section>

</div>
<div
class="text-center p-3"
style="background-color: rgba(0, 0, 0, 0.2)"
>
<strong>-Portfolio of AkhilMujam</strong> 
</div>

</footer>
