
  <section id="about" class="about me-1 bg-light ">
    <div class="container-fluid " >
   <br/><br/><br/>
      <div class="section-title mt-1 ">
        <h2 class="pb-2 border-bottom text-uppercase text-dark">About me</h2><br/>
        <div class="color"><p>student of <b>Computer Science</b> and specialized in Data Science and slef learnt of <b>Web Development</b></p>
        </div>
        </div>

      <div class="row">
        <div class="col-lg-4 head" data-aos="fade-right ">
          <img src="assets/images/main-photo.jpeg" class="img-fluid animate__animated animate__fadeInLeft" style="width:400;height:400;" alt="" >
        </div>
 
        <div class="col-lg-8 pt-4 pt-lg-0 content text-white head animate__animated animate__fadeInDown" data-aos="fade-left" >
          <h3 class="text-warning"> Web Developer.</h3>
          <p class="fst-italic text-warning"><br/>
           Currently working on the new Technologies for upgrading myself!...
          </p>
          <div class="row">
            <div class="col-lg-6"><br/>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <b>Birthday:</b> <span>29 November 2002</span></li>
                <li><i class="bi bi-chevron-right"></i> <b>Phone:</b> <span>9392642428</span></li>
                <li><i class="bi bi-chevron-right"></i> <b>City:</b> <span>Hyderabad</span></li>
              </ul>
            </div>
            <div class="col-lg-6"><br/>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <b>Age :</b> <span>19</span></li>
                <li><i class="bi bi-chevron-right"></i> <b>Degree:</b> <span>B.Tech</span></li>
                <li><i class="bi bi-chevron-right"></i> <b>Mail:</b> <span>akhilmujam@gmail.com</span></li>
        
              </ul>
            </div>
          </div><br/>
          <p class="text-warning">
           Hi i am AkhilMujam this is my portfolio . I am from the town Godavarikhani which comes under karimnagar district 
           .Cuurently i am pursuing my btech IIIrd year in computer Science Dept specialized in Data Science . I am intrested 
           in html,css,js,react-js,c,java,python...
          </p>

          <br/><br/><p>my hobbies are listening music watching TV and knowing new Skills and knowing intresting facts ...</p>
        </div>
      <br/><br/>
      </div>
      </div>
<br/><br/>
    
  </section> 
