<!-- <div class="profile-page py-4 my-4">
    <div class="wrapper">
      <div class="page-header page-header-small" filter-color="green">
        
        <div class="container">
          <div class="content-center">
            <div class="cc-profile-image">
              <a href="#">
                 <img src="assets/images/main-photo.jpeg" alt="Image" class="rounded"  width="200px" /> 
              
            </a>
               </div>
            <h1 class="h2 title">Akhil Mujam</h1>
            <p class="category ">Web Developer</p>
            <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in"
              data-aos-anchor="data-aos-anchor">Hire Me</a>
            <a class="btn btn-primary" href="#" target="_blank" data-aos="zoom-in"
              data-aos-anchor="data-aos-anchor">Download CV</a>
          </div>
        </div>
        <div class="section">
          <div class="container">
            <div class="button-container">
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.facebook.com/AkhilMujam"
                target="_blank" rel="tooltip" title="Follow me on Facebook">
                <span class="fa-stack fa-lg" >
                    <i class="fa fa-circle-thin fa-stack-2x " ></i>
                    <i class="fa fa-facebook fa-stack-1x " ></i>
                  </span>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/a_k_h_i_428"
                target="_blank" rel="tooltip" title="Follow me on Instagram">
                <span class="fa-stack fa-lg" >
                    <i class="fa fa-circle-thin fa-stack-2x " ></i>
                    <i class="fa fa-instagram fa-stack-1x " ></i>
                  </span>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon"
                href="https://www.linkedin.com/in/akhil-mujam-17141821a/" target="_blank" rel="tooltip"
                title="Follow me on Linkedin">
                <span class="fa-stack fa-lg" >
                    <i class="fa fa-circle-thin fa-stack-2x " ></i>
                    <i class="fa fa-linkedin fa-stack-1x " ></i>
                  </span>
              </a>
              <a class="btn btn-default btn-rounded-circle  btn-icon"  href="https://github.com/Akhil-Mujam" target="_blank"
                rel="tooltip" title="Follow me on Github">
                <span class="fa-stack fa-lg" >
                    <i class="fa fa-circle-thin fa-stack-2x " ></i>
                    <i class="fa fa-github fa-stack-1x " ></i>
                  </span>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon"  href="#"
                target="_blank" rel="tooltip" title="Follow me on Twitter">
                <span class="fa-stack fa-lg" >
                    <i class="fa fa-circle-thin fa-stack-2x " ></i>
                    <i class="fa fa-twitter fa-stack-1x " ></i>
                  </span>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="#" target="_blank" rel="tooltip"
                title="Follow me on Google+">
                <i class="fa fa-google-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->


   <div class="section" id="contact">
    <div class="cc-contact-information" style="background-image: url('assets/images/contact.jpg');">
        <div class="container">
            <div class="cc-contact">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card mb-0" data-aos="zoom-in">
                            <div class="h4 text-center title">Contact Me</div>
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="card-body">
                                        <form name="form">
                                            <div class="p pb-3">
                                                <strong>Feel free to contact me </strong>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                    <i class="fa fa-user-circle"></i>
                                  </span>
                                                        <input class="form-control" type="text" name="name" placeholder="Name"  required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                    <i class="fa fa-file-text"></i>
                                  </span>
                                                        <input class="form-control" type="text" name="subject" placeholder="Subject" required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                  </span>
                                                        <input class="form-control" type="text" name="email" placeholder="E-mail"  required
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <textarea class="form-control" name="message" placeholder="Your Message"  required></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <button class="btn btn-primary" type="submit">Send</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <p class="mb-0">
                                            <strong>Phone</strong>
                                        </p>
                                        <p class="pb-2">+91 9392642428</p>
                                        <p class="mb-0">
                                            <strong>Email</strong>
                                        </p>
                                        <p>akhilmujam@gmail.com</p>

                                        <button class="btn btn-primary m-4">Hire me</button>
                                        <button class="btn btn-primary">Download CV</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br/><br/>
<br/>
