
<div class="container my-5 py-5 shadow-lg skill" id="skills">
    <div class="section-title m-5 ">
      <h2>Skills</h2>
      <p class="text-dark"><strong> I am very intrested in acquiring the new skills and to explore all the skills</strong></p>
    </div>
       <div class="row">
      <div class="col-md-6 text-dark">
          <span >JAVA</span>
          <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
             <br/>
             <span >Python</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
         <br/>
         <span >C</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
            <br/>
            <span >Sql</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
            <br/>
            <span>Mongodb</span>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
              </div>
      </div>
      <div class="col-md-6 text-success">
          <span >Html</span>
          <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
             <br/>
             <span >CSS</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">95%</div>
            </div>
         <br/>
         <span >Js</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
            <br/>
            <span >React</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
            <br/>
            <span>Tableau</span>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
              </div>
              
            
      </div>   
     </div>
    </div>

